<template lang="pug">
    //- 絞り込み欄＋テーブル
    div
        v-data-table(
            :headers="processLogHeaders"
            :items="processLogItems"
            :loading="processLogItems == undefined"
        )
            template(v-slot:item.actions="{ item }")
                v-icon(
                    small
                    class="mr-2"
                    @click="onOpenProcessLogDialog(item)"
                ) mdi-launch
        //- プロセスログダイアログ
        v-dialog(v-model="showProcessLogDialog" max-width="500px")
            v-card
                v-card-title(class="text-h5")
                    | {{ selectedProcessLog.processLogId }}
                v-card-text
                    | {{ selectedProcessLog }}

</template>

<script lang="ts">
    import { Component, Vue, Prop } from 'vue-property-decorator';
    import { ProcessLog, ProcessLogProps } from '@/middlewares/process_log';
    import * as table from '@/config/table';

    @Component({
        components:{
        }
    })
    export default class extends Vue {
        @Prop({default:[]}) readonly processLogList!: ProcessLog[]

        private selectedProcessLog = new ProcessLog({} as ProcessLogProps)
        private showProcessLogDialog = false;

        get processLogHeaders() { return table.HEADER_PROCESS_LOG_SUMMARY; }
        get processLogItems() { return this.processLogList; }

        private onOpenProcessLogDialog(item: any) {
            this.selectedProcessLog = item;
            this.showProcessLogDialog = !this.showProcessLogDialog // オープン
        }
    }
</script>