<template lang="pug">
  span
    div(v-for="item in tableData" v-bind:key="item.label") 
      | {{item.label}} : 
      span(v-if="item.type==='a'") 
        a(:href="item.url") {{item.value}} 
      span(v-else)
        | {{item.value}}
</template>

<script lang="ts">
  import { Component, Vue, Prop } from 'vue-property-decorator';
  @Component({
    components:{
    }
  })
  export default class extends Vue {
    @Prop({ default: [] }) tableData!: any[];
  }
</script>
