<template lang="pug">
  v-flex
    v-card(flat tile)
      v-toolbar(color="secondary" flat)
          v-toolbar-title {{title}}
      //- v-card-text
    v-tabs(
          mobile-break-point="200"
          v-model="relatedInfoTab" 
          background-color="secondary"
      )
      //- v-tabs-slider(color="yellow")
      v-tab(v-for="item in tabItems" v-bind:key="item.label") {{item.label}}
    v-tabs-items(
        v-model="relatedInfoTab"
    )
      v-tab-item
        div 自分の案件テーブル
        v-btn(href="customer?customerId=XXX") 顧客
        v-btn(href="issue?issueId=YYY") 案件
        v-btn(href="sales_agent?sacd=ZZZ") 営業
        v-data-table(
          :headers="myIssueHeader"
          :items="myIssueItems"
          multi-sort
          show-select
          :single-select="false"
          item-key="issueId"
          v-model="selected"
        )
      v-tab-item
        v-data-table(
          :headers="followIssueHeader"
          :items="followIssueItems"
          multi-sort
        )
        
</template>

<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';
  // import { TestModule } from '@/modules/test';
  @Component({
    components:{
    }
  })
  export default class extends Vue {
    private relatedInfoTab = 0;
    private title = '案件一覧';

    private tabItems = [
      {
        label: '自分の案件',
      },
      {
        label: 'フォロー中の案件',
      },
    ];

    private selected = [];

    get followIssueHeader() {
      return [
        {
          text: '検索日', 
          value: 'searchDate'
        },
        {
          text: '検索結果', 
          value: 'searchResult'
        },
        {
          text: '更新日', 
          value: 'updateDate'
        },
        {
          text: '案件名', 
          value: 'issue'
        },
        {
          text: '顧客', 
          value: 'customer'
        },
        {
          text: '熟度', 
          value: 'maturity'
        },
        {
          text: '確度', 
          value: 'certainty'
        },
        // {
        //   text: '成長性スコア', 
        //   value: 'growth_score'
        // },
        // {
        //   text: '信頼スコア', 
        //   value: 'credit_score'
        // },
        // {
        //   text: '資金調達スコア', 
        //   value: 'funding_score'
        // },
        // {
        //   text: 'セールスポテンシャルスコア', 
        //   value: 'sales_potential_score'
        // },
        {
          text: '案件フォロー', 
          value: ''
        },
      ]
    }

    get followIssueItems() {
      return [
        {},
        {},
        {},
      ]
    }

    get myIssueHeader() {
      return [
        {
          text: '更新日', 
          value: 'updateDate'
        },
        {
          text: '案件名', 
          value: 'issue'
        },
        {
          text: '顧客', 
          value: 'customer'
        },
        {
          text: '熟度', 
          value: 'maturity'
        },
        {
          text: '確度', 
          value: 'certainty'
        },
        {
          text: '成長性スコア', 
          value: 'growth_score'
        },
        {
          text: '信頼スコア', 
          value: 'credit_score'
        },
        {
          text: '資金調達スコア', 
          value: 'funding_score'
        },
        {
          text: 'セールスポテンシャルスコア', 
          value: 'sales_potential_score'
        },
      ]
    }

    get myIssueItems() {
      return [
        {
          issueId: 'X',
          updateDate: 'X',
        },
        {
          issueId: 'Y',
          updateDate: 'Y',
        },
        {
          issueId: 'Z',
          updateDate: 'Z',
        },
      ]
    }
  }
</script>
