<template lang="pug">
v-dialog(v-model="showUserDeleteDialog" max-width="500px")
  v-card
    v-card-title(class="text-h5")
      | {{ textDeleteUser }}
    v-card-actions
      v-spacer
      v-btn(color="blue darken-1" text @click="showUserDeleteDialog = !showUserDeleteDialog") Cancel
      v-btn(color="blue darken-1" text @click="onDeleteUser") OK
      v-spacer
</template>

<script lang="ts">
  import { Component, Vue, Prop } from 'vue-property-decorator';
  @Component({
    components:{
    }
  })
  export default class extends Vue {
    @Prop() private userId;
    @Prop() private showUserDeleteDialog;

    get textDeleteUser() { return this.userId; }

    private onDeleteUser() {
      alert(0);
    }
  }
</script>
