<template lang="pug">
v-app-bar(
    app
    flat
    dark
    color="primary"
    )
    v-app-bar-nav-icon(@click="onOpenDrawer")
    v-toolbar-title
        | {{headerTitle}}
    v-spacer
    v-toolbar-title
        | {{loginUserName}}
        v-spacer
        | {{loginUserName}}
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
@Component({
    components:{
    }
})
export default class extends Vue {
    @Prop({default:''}) readonly headerTitle!: string
    @Prop({default:''}) readonly loginUserName!: string
    @Prop({default:false}) readonly isDrawerShow!: boolean

    // private vIsDrawerShow = false

    get vIsDrawerShow() { return this.isDrawerShow }
    set vIsDrawerShow(v) { this.$emit('update:isDrawerShow', v) }

    private onOpenDrawer() {
        this.vIsDrawerShow = !this.vIsDrawerShow;
    }

    mounted() {
        this.vIsDrawerShow = this.isDrawerShow;
    }
}
</script>
