<template lang="pug">
    v-footer(
        app 
        padless
        dark
        color="primary"
        )
        span(@click="onOpenDialog") {{footerTitle}}
</template>

<script lang="ts">
    import { Component, Vue, Prop } from 'vue-property-decorator';
    @Component({
        components:{
        }
    })
    export default class extends Vue {
        @Prop({default:''}) readonly footerTitle!: string;

        private onOpenDialog() {
            console.log('on open dialog')
        }
    }
</script>
