<template lang="pug">
v-navigation-drawer(
    v-model="vIsShow"
    app
    temporary
    )
    v-list-item(
        v-for="item in items"
        :key="item.title"
        link
        @click="onClickLink(item.title)"
    )
        v-list-item-icon
            v-icon {{ item.icon }}
        v-list-item-title 
            | {{ item.title }}
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
@Component({
    components:{
    }
})
export default class extends Vue {
    @Prop({default:'へっだー'}) readonly headerTitle!: string

    @Prop({default:true}) readonly isShow!: boolean
    get vIsShow() { return this.isShow }
    set vIsShow(v) { this.$emit('update:isShow', v) }

    private items = [
        { title: 'ダッシュボード', icon: 'mdi-view-dashboard' },
        { title: 'チャット', icon: 'mdi-image' },
        { title: '管理者メニュー', icon: 'mdi-help-box' },
    ]

    private onClickLink(item) {
        console.log(item)
    }

    mounted() {
        this.vIsShow = this.isShow
    }
}
</script>
