<template lang="pug">
  span d
</template>

<script lang="ts">
  import { Component, Vue, Prop } from 'vue-property-decorator';
  @Component({
    components:{
    }
  })
  export default class extends Vue {
    // @Prop() private tableData;
  }
</script>
