<template lang="pug">
  v-app(style="background: #FDF8E5;")
    router-view
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'App',
  components: {
  },
  data: () => ({
  }),
});
</script>
