<template lang="pug">
div
  application-header(:isDrawerShow.sync="isDrawerShow" :headerTitle="textAdminTitle" :loginUserName="userId")
  application-drawer(:isShow.sync="isDrawerShow")
  application-footer(:footerTitle="footerTitle")
  v-content(app)
    v-container(fluid fill-height)
      v-layout(wrap align-center justify-center)
        v-card
          v-toolbar(color="secondary" flat)
            v-toolbar-title {{textAdminTitle}}
          v-tabs(v-model="tabMenu")
            v-tab(v-for="item in tabItems" :key="item") {{ item }}
          v-tabs-items(v-model="tabMenu")
            //- process log
            v-tab-item
              process-log-view(:processLogList="processLogList")
            //- user
            v-tab-item
              //- 一覧
              v-data-table(
                :headers="userHeaders"
                :items="userItems"
                :loading="userItems == undefined"
              )
                //- template(v-slot:item.action="{ item }")
                //-   v-btn(@click="clickEdit(item)") 削除
                template(v-slot:item.actions="{ item }")
                  v-icon(
                    small
                    class="mr-2"
                    @click="onOpenUserDeleteDialog(item)"
                  ) mdi-delete
              v-btn(color="primary" @click="showUserRegistrationDialog =!showUserRegistrationDialog") ユーザ追加


            //- chat
            v-tab-item
              //- チャット一覧
              v-data-table(
                :headers="chatHeaders"
                :items="chatItems"
                :loading="chatItems == undefined"
              )

              //- チャットメッセージ一覧
              v-data-table(
                :headers="chatMessageHeaders"
                :items="chatMessageItems"
                :loading="chatMessageItems == undefined"
              )

        //- 削除ダイアログ
        user-delete-dialog()
        v-dialog(v-model="showUserDeleteDialog" max-width="500px")
          v-card
            v-card-title(class="text-h5")
              //- | {{userDelete}}
              | {{ textDeleteUser }}
            v-card-actions
              v-spacer
              v-btn(color="blue darken-1" text @click="showUserDeleteDialog = !showUserDeleteDialog") Cancel
              v-btn(color="blue darken-1" text @click="onDeleteUser") OK
              v-spacer
        
        //- 追加ダイアログ
        //- user-sign-up-dialog()
        v-dialog(v-model="showUserRegistrationDialog" max-width="500px")
          v-card
            v-card-title(class="text-h5")
              | {{ textTitleAddUser }}
            v-card-text
              v-text-field(label="userId" v-model="tuser.userId")
              v-text-field(label="userName" v-model="tuser.userName")
              v-btn(color="primary" @click="onAddTUser") 下のテーブルに追加
              v-btn(color="primary" @click="onAddTUserCSV") CSVから追加
              v-data-table(
                :headers="tUserHeaders"
                :items="tmpUserItems"
              )
            v-card-actions
              v-spacer
              v-btn(color="blue darken-1" text @click="showUserRegistrationDialog = !showUserRegistrationDialog") Cancel
              v-btn(color="blue darken-1" text @click="onTUserListReset") Reset
              v-btn(color="blue darken-1" text @click="onTUserListRegistration") Registration
              v-spacer
  //- application-footer
</template>

<script lang="ts">
  import { ProcessLog, ProcessLogProps, processLogRepository } from '@/middlewares/process_log';
  import { User, UserProps, userRepository } from '@/middlewares/user';
  import { Chat, chatRepository, ChatMessage, chatMessageRepository } from '@/middlewares/chat';
  // import { Chat, ChatMessage } from '@/middlewares/chat';
  import { Component, Vue } from 'vue-property-decorator';
  import { toSnake } from 'snake-camel';
  import * as constant from '@/config/constant';
  import * as table from '@/config/table';

  import ApplicationHeader from '@/components/organisms/common/ApplicationHeader.vue';
  import ApplicationDrawer from '@/components/organisms/common/ApplicationDrawer.vue';
  import ApplicationFooter from '@/components/organisms/common/ApplicationFooter.vue';

  import ProcessLogView from '@/components/organisms/admin/ProcessLogView.vue'; 

  import UserDeleteDialog from '@/components/organisms/UserDeleteDialog.vue';
  import UserSignUpDialog from '@/components/organisms/UserSignUpDialog.vue';

  import store from '@/store'

  @Component({
    components:{
      'user-delete-dialog': UserDeleteDialog,
      'user-sign-up-dialog': UserSignUpDialog,
      'application-header': ApplicationHeader,
      'application-drawer': ApplicationDrawer,
      'application-footer': ApplicationFooter,

      'process-log-view': ProcessLogView,
    }
  })
  export default class extends Vue {
    private headerTitle = '親タイトル';
    private footerTitle = 'V_X_X_X';
    private isDrawerShow = false;

    private tabMenu = null
    private tabItems = [constant.TAB_PROCESS_LOG, constant.TAB_USER, constant.TAB_CHAT,]

    private userList: User[] = []
    private processLogList: ProcessLog[] = []
    private chatList: Chat[] = []
    private chatMessageList: ChatMessage[] = []

    private showProcessLogDialog = false;
    private showUserDeleteDialog = false;
    private showUserRegistrationDialog = false;

    private deleteUserId = '' // Dialogに渡す

    private selectedProcessLog = new ProcessLog({} as ProcessLogProps)

    private tuser = new User({} as UserProps)
    private tUserList: User[] = []

    get textAdminTitle() { return constant.PAGE_TITLE_ADMIN; }
    get textDeleteUser() { return this.deleteUserId +'を削除しますか？' }
    get textUserRegistration() { return constant.BUTTON_ADD_USER; }
    get userHeaders() { return table.HEADER_USER; }
    get userItems() { return this.userList; }


    get tUserHeaders() { return table.HEADER_TUSER; }
    get tmpUserItems() { return this.tUserList }

    get processLogHeaders() { return table.HEADER_PROCESS_LOG_SUMMARY; }
    get processLogItems() { return this.processLogList; }

    get textSelectedProcessLog() { return this.selectedProcessLog.processLogId }

    get textTitleAddUser() { return constant.DIALOG_TITLE_ADD_USER; }
    get textTitleDeleteUser() { return constant.DIALOG_TITLE_DELETE_USER; }


    get chatHeaders() { return table.HEADER_CHAT; }
    get chatItems() { return this.chatList; }

    get chatMessageHeaders() {
      return [
        {
          text: 'chatMessageId', 
          value: 'chatMessageId',
        },
        {
          text: 'chatMessageData', 
          value: 'chatMessageData',
        },
        {
          text: 'chatMessageUserId', 
          value: 'chatMessageUserId',
        },
        {
          text: 'chatMessageCreatedDatetime', 
          value: 'chatMessageCreatedDatetime',
        },
        {
          text: 'chatId', 
          value: 'chatId',
        },
      ]
    }
    get chatMessageItems() { return this.chatMessageList; }

    get userId() { return store.state.userId; }

    private onOpenProcessLogDialog(item: any) {
      // console.log(JSON.stringify(toSnake(item)))
      this.selectedProcessLog = item;
      this.showProcessLogDialog = !this.showProcessLogDialog // オープン
    }
    
    private onOpenUserDeleteDialog(item: any) {
      console.log(JSON.stringify(toSnake(item)))
      this.deleteUserId = item.userId;
      this.showUserDeleteDialog = !this.showUserDeleteDialog // オープン
    }
    

    private onAddTUser() {
      this.tUserList.push(this.tuser)
      this.tuser = new User({} as UserProps)
    }

    private csv2json(csvArray) {
      const jsonArray: any[] = [];  
      // 1行目から「項目名」の配列を生成する
      const items = csvArray[0].split(',').map(item => item.trim());
      // strip
      // CSVデータの配列の各行をループ処理する
      //// 配列の先頭要素(行)は項目名のため処理対象外
      //// 配列の最終要素(行)は空のため処理対象外
      for (let i = 1; i < csvArray.length - 1; i++) {
        const aLine = new Object();
        
        // カンマで区切られた各データに分割する
        const csvArrayD = csvArray[i];
        // 行が「カンマとスペースのみ」であれば次の行へ
        if (/^[,\s]*$/.test(csvArrayD)) {
            continue;
        }
        // カンマで区切られた各データに分割する
        const csvArrayDArray = csvArrayD.split(',');
        //// 各データをループ処理する
        for (let j = 0; j < items.length; j++) {
          // 要素名：items[j]
          // データ：csvArrayDArray[j]
          aLine[items[j]] = csvArrayDArray[j];
        }
        jsonArray.push(aLine);
      }
      //console.debug(jsonArray);
      return jsonArray;
    }
    
    private async onAddTUserCSV() {
      const showOpenFileDialog = () => {
          return new Promise(resolve => {
              const input = document.createElement('input');
              input.type = 'file';
              input.accept = '.csv, text/plain';
              input.onchange = (event: Event) => { 
                const target= event.target as HTMLInputElement;
                resolve((target.files as FileList)[0]); 
              };
              input.click();
          });
      };

      const readAsJson = file => {
          return new Promise(resolve => {
              const reader = new FileReader();
              reader.readAsText(file);
              reader.onload = () => {
                const res = reader.result as string;
                const csvArray = res.split('\n'); // 1行ごとに分割する
                const jsonData = this.csv2json(csvArray)
                resolve(jsonData); 
              };
          });
      };
      const file = await showOpenFileDialog();
      const jsonArray = await readAsJson(file) as any[];

      jsonArray.forEach(jsonData => {
        const tUser = new User(
          {
            userId: jsonData.userId,
            userPassword: '',
            userName: jsonData.userName,
            userRole: '',
            userCreatedDatetime: '',
          }
         );
         this.tUserList.push(tUser);
      });
    }

    private onTUserListReset() {
      this.tUserList = []
    }

    private onTUserListRegistration() {
      // console.log('0')
      this.tUserList.forEach(user => {
        userRepository.register(user)
      });

      this.tuser = new User({} as UserProps)
      this.tUserList = []

      userRepository.search().then(res => {
        this.userList = res;
      })
    }
  
    private onDeleteUser() {
      console.log(this.deleteUserId)
      const deleteUserId = this.deleteUserId;
      userRepository.delete(deleteUserId).then( // 削除
        () => {
          userRepository.search().then(res => { // リロード
            this.userList = res;
          })
        }
      )
      this.showUserDeleteDialog = !this.showUserDeleteDialog // クローズ
    }

    created() {
      processLogRepository.search().then(res => {
        this.processLogList = res;
      })
      userRepository.search().then(res => {
        this.userList = res;
      })
      const userId = 'u0'
      const chatId = 'XXX'
      chatRepository.searchByUserId(userId).then(res => {
        this.chatList = res;
      })
      chatMessageRepository.searchByChatId(chatId).then(res => {
        this.chatMessageList = res;
      })
    }
  }
</script>
