<template lang="pug">
  v-content(app)
    v-container(fluid fill-height)
      v-layout(wrap align-center justify-center)
        v-card
          //- タイトル
          v-toolbar(dark color="primary" flat)
            v-toolbar-title {{textTitle}}
          //- チャット追加
          v-text-field(
            v-model="tTextChatTitle"
            append-outer-icon="mdi-send"
            @click:append-outer="onSendChat"
          )
          //- | {{userList}}
          v-select(
            :items="userItems"
            item-text="userName"
            item-value="userId"
            label="Standard"
          )
          v-btn() 追加

          //- チャット一覧
          v-data-table(
            :headers="chatHeaders"
            :items="chatItems"
            :loading="chatList == null"
          )
            template(v-slot:item.actions="{ item }")
              v-icon(
                small
                class="mr-2"
                @click="onOpenChatMessage(item)"
              ) mdi-launch
          //- チャットメッセージ一覧
          span(v-if="selectedChat != null")
            | {{selectedChat.chatId}}
            v-data-table(
              :headers="chatMessageHeaders"
              :items="chatMessageItems"
              :loading="chatMessageList == null"
            )
            div
              v-text-field(
                v-model="tTextChatMessageDataText"
                append-outer-icon="mdi-send"
                @click:append-outer="onSendMessage"
              )
          span(v-else) 選択して
        
        //- //- 追加ダイアログ
        //- v-dialog(v-model="showUserRegistrationDialog" max-width="500px")
        //-   v-card
        //-     v-card-title(class="text-h5")
        //-       | {{textUserRegistration}}
        //-     v-card-text
        //-       v-text-field(label="userId" v-model="tuser.userId")
        //-       v-text-field(label="userName" v-model="tuser.userName")
        //-       v-data-table(
        //-         :headers="userHeaders"
        //-         :items="userItems"
        //-         :loading="userItems == undefined"
        //-       )
        //-     v-card-actions
        //-       v-spacer
        //-       v-btn(color="blue darken-1" text @click="showUserRegistrationDialog = !showUserRegistrationDialog") Cancel
        //-       v-btn(color="blue darken-1" text @click="onUserRegistration") OK
        //-       v-spacer
</template>

<script lang="ts">
  import { Chat, chatRepository, ChatMessage, chatMessageRepository } from '@/middlewares/chat';
  import { Component, Vue } from 'vue-property-decorator';
  import { User, userRepository } from '@/middlewares/user';
  // import { toSnake } from 'snake-camel';
  import * as constant from '@/config/constant';
  import * as TABLE from '@/config/table';

  import store from '@/store'

  @Component({
    components:{
    }
  })
  export default class extends Vue {
    private chatList: Chat[] | null = null
    private chatMessageList: ChatMessage[] | null = null// 未読み込み、ロード中、ロード済み
    private selectedChat: Chat | null = null;

    private userList: User[] | null = null

    private showChatMessageDialog = false;

    private tTextChatTitle = '';
    private tTextChatMessageDataText = '';

    get userId() { return store.state.userId; }

    get textTitle() { return constant.PAGE_TITLE_CHAT; }
    get chatHeaders() { return TABLE.HEADER_CHAT; }
    get chatItems() { return this.chatList != null ? this.chatList : [] }
    get chatMessageHeaders() {
      return [
        {
          text: 'chatMessageId', 
          value: 'chatMessageId',
        },
        {
          text: 'chatMessageData', 
          value: 'chatMessageDataText',
        },
        {
          text: 'chatMessageUserId', 
          value: 'chatMessageUserId',
        },
        {
          text: constant.COLUMN_CREATED_DATETIME, 
          value: 'chatMessageCreatedDatetime',
        },
        {
          text: 'chatId', 
          value: 'chatId',
        },
      ]
    }
    get chatMessageItems() { return this.chatMessageList != null ? this.chatMessageList : [] }

    get userItems() { 
      return this.userList != null ? this.userList : [];
    }

    private onOpenChatMessage(chat: Chat) {
      console.log(JSON.stringify(chat.chatId))
      this.selectedChat = chat
      chatMessageRepository.searchByChatId(chat.chatId).then(res => {
        this.chatMessageList = res;
      })

      // this.deleteUserId = item.userId;
      // this.showUserDeleteDialog = !this.showUserDeleteDialog // オープン
    }

    private onSendChat() {
      console.log(this.tTextChatTitle)

      const chat = new Chat(
        {
          chatId: '',
          chatTitle: this.tTextChatTitle,
          chatUserIdList: ['u0','u1'],
          chatCreatedDatetime: '',
          chatUpdateDatetime: '',
        }
      )

      chatRepository.postChat(chat).then(() => {
        this.tTextChatTitle = '';
      })
    }

    private onSendMessage() {
      const userId = this.userId;
      const chat = this.selectedChat as Chat;
      const chatMessage = new ChatMessage(
        {
          chatMessageId: '',
          chatMessageData: {
            chatMessageDataType: '00',
            chatMessageDataText: this.tTextChatMessageDataText,
          },
          chatMessageUserId: userId,
          chatMessageCreatedDatetime: '',
          chatId: chat.chatId
        }
      )
      chatMessageRepository.postChatMessage(chatMessage).then(() => {
        // this.chatMessageList = res;
        chatMessageRepository.searchByChatId(chat.chatId).then(res => {
          this.chatMessageList = res;
        })
        chatRepository.searchByUserId(userId).then(res => {
          this.chatList = res;
        })
        this.tTextChatMessageDataText = '';
      })
    }

    // private onUserRegistration() {
    //   alert('0')
    //   this.tuser = new User({} as UserProps)
    //   // this.tuser = new User({} as UserProps)
    // }
    

    // private onDeleteUser() {
    //   alert(this.deleteUserId)
    //   // 削除
    //   // リロード
    //   this.showUserDeleteDialog = !this.showUserDeleteDialog // クローズ
    // }

    created() {
      const userId = this.userId;
      chatRepository.searchByUserId(userId).then(res => {
        this.chatList = res;
      })
      userRepository.search().then(res => {
        this.userList = res;
      })
    }
  }
</script>
