<template lang="pug">
  v-content(app)
    v-container(fluid fill-height)
      v-layout(wrap align-center justify-center)
        v-card
          v-toolbar(dark color="primary" flat)
              v-toolbar-title {{textPageTitle}}
              v-spacer
              | {{textEdition}}
          v-card-text
            v-text-field(prepend-icon="person" name="userId" :label="textTextareaUserId" type="text" v-model="textFieldUserId" @keyup.enter="onLogin")
            v-text-field(id="password" prepend-icon="lock" name="password" :label="textTextareaPassword" type="password" v-model="textFieldPassword" @keyup.enter="onLogin")
          v-card-actions
            v-spacer
            v-btn(color="primary" @click="onLogin") {{textLoginButton}}

</template>

<script lang="ts">
  import { User, userRepository } from '@/middlewares/user';
  import { Component, Vue } from 'vue-property-decorator';
  // import { TestModule } from '@/modules/test';
  import * as constant from '@/config/constant';
  @Component({
    components:{
    }
  })
  export default class extends Vue {
    get textPageTitle() { return constant.PAGE_TITLE_LOGIN; }
    get textEdition() { return constant.EDITION_NAME; }
    get textLoginButton() { return constant.BUTTON_LOGIN; }

    get textTextareaUserId() { return constant.TEXTAREA_USER_ID; }
    get textTextareaPassword() { return constant.TEXTAREA_PASSWORD; }

    private textFieldUserId = '';
    private textFieldPassword = '';

    private onLogin() {
      const loginUser = new User(
        {
          userId: this.textFieldUserId,
          userPassword: this.textFieldPassword,
          userName: '',
          userRole: '',
          userCreatedDatetime: '',
        }
      );
      loginUser.auth().then(res => {
        // this.processLogList = res;
        console.log(res)
        if(res == false) {
          alert('失敗');
        } else {
          userRepository.findByUserId(loginUser.userId).then(res => {
            if(res.userRole == "00") {
              location.href = location.origin + '/admin'; // 移動
            } else if(res.userRole == "10") {
              location.href = location.origin + '/chat'; // 移動
            }
          })
        }
      })
    }
  }
</script>
