<template lang="pug">
  //- ヘッダ
  div
    v-navigation-drawer(app v-model="drawer" :clipped="$vuetify.breakpoint.lgAndUp")
      v-list
        div(v-for="item in drawerList")
          v-list-item(v-if="item.items===undefined" :href="item.href" )
            v-list-item-icon
              v-icon {{item.icon}}
            v-list-item-title {{item.text}}
            //- v-list-item-icon(v-if="item.alert_function !== undefined && item.alert_function(item)")
            //-   v-icon mdi-alert
          v-list-group(
            v-else
            v-model="item.active"
            :prepend-icon="item.icon"
            :key="item.text"
            no-action
          )
            template(v-slot:activator)
              v-list-item-content
                v-list-item-title(v-text="item.text")
            v-list-item(
              v-for="item2 in item.items"
              :key="item2.text"
              :href="item2.href"
            )
              v-list-item-content
                v-list-item-title(v-text="item2.text")
    v-app-bar(app dark color="primary" flat :clipped-left="$vuetify.breakpoint.lgAndUp")
      v-app-bar-nav-icon(@click="onOpenNavigationDrawer")
      //- v-toolbar-title title
      v-spacer
      span
        v-col
          v-row {{userId}}
          v-row {{userName}}
    v-content(app)
      v-container(fluid fill-height)
        router-view
    v-footer(app dark color="primary")
      span(@click="onOpenReleaseNote") {{version}}
      //- v-spacer
      //- | r
  //- フッタ
</template>

<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';
  @Component({
    components:{
    }
  })
  export default class extends Vue {
    private drawer = false;
    private onOpenNavigationDrawer() {
      this.drawer = !this.drawer;
    }
    private drawerList = [
      {
        icon: 'mdi-home',
        text: '案件一覧',
        href: 'dashboard',
      },
      {
        icon: 'search',
        text: 'VUP検索',
        href: 'vup_search',
      },
      {
        icon: 'mdi-star',
        text: 'フォロー',
        active: true,
        items: [
          {
            text: '営業',
            href: 'follow_sales_agent',
          },
          {
            text: '顧客',
            href: 'follow_customer',
          },
          {
            text: '案件',
            href: 'follow_issue',
          },
          {
            text: '日報',
            href: 'follow_activity',
          },
        ],
      },
      {
        icon: 'search',
        text: '商材検索',
        href: 'commodity_search',
      },
      {
        icon: 'mdi-robot',
        text: '支援ボット',
        href: 'support_chatbot',
      },
    ]

    get userName() {
      return 'ユーザ名';
    }
    get userId() {
      return 'idXXXXXXX';
    }

    get version() {
      return 'vX.X.X';
    }

    private onOpenReleaseNote() {
      alert('ダイアログ');
    }
  }
</script>
